#footer {
  background: #ececec;
  padding: 30px 0;
  box-sizing: border-box;

  .upper {
    font-weight: 700;
  }

  .container {
    box-sizing: border-box;
  }

  .text {
    color: #3a3a3a;
    line-height: 22pt;
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;

    @media (min-width: 970px) {
      float: left;
      width: 375px;
      text-align: left;
      padding-bottom: 0;
    }

    @media (min-width: 1200px) {
      float: left;
      width: 395px;
    }
  }

  .adress {
    margin: auto;
    padding-bottom: 25px;
    margin-left: 20%;

    .icon {
      float: left;
    }

    .text_cont {
      float: left;
      margin-left: 25px;
    }

    &::after {
      content: ' ';
      display: table;
      clear: both;
    }

    @media (min-width: 780px) {
      width: 50%;
      float: left;
      padding-bottom: 0;
      margin-left: 0;

      .icon {
        float: left;
      }

      .text_cont {
        float: left;
        margin-left: 25px;
      }
    }

    @media (min-width: 970px) {
      width: 250px;
      margin-left: 30px;
      float: left;

      .icon {
        float: none;
      }

      .text_cont {
        float: right;
        margin-left: 0;
      }
    }

    @media (min-width: 1200px) {
      width: 270px;
      margin-left: 90px;
      float: left;
    }

    .text_cont {
      h3 {
        font-size: 20px;
        color: #5c2800;
        padding-bottom: 20px;
        font-weight: 700;
      }

      p {
        font-size: 15px;
        color: #434343;
        line-height: 22pt;
        padding-bottom: 15px;
      }
    }

    .work {
      line-height: 20pt;
    }
  }

  .numbers {
    margin: auto;
    padding-bottom: 25px;
    margin-left: 20%;

    .icon {
      float: left;
    }

    .text_cont {
      float: left;
      margin-left: 25px;
    }

    &::after {
      content: ' ';
      display: table;
      clear: both;
    }

    @media (min-width: 780px) {
      width: 50%;
      float: left;
      padding-bottom: 0;
      margin-left: 0;

      .icon {
        float: left;
      }

      .text_cont {
        float: left;
        margin-left: 25px;
      }
    }

    @media (min-width: 970px) {
      width: 255px;
      float: left;
      margin-left: 30px;

      .icon {
        float: none;
      }

      .text_cont {
        float: right;
        margin-left: 0;
      }
    }

    @media (min-width: 1200px) {
      width: 275px;
      float: left;
      margin-left: 80px;
    }

    .text_cont {
      h3 {
        font-size: 20px;
        color: #5c2800;
        padding-bottom: 20px;
        font-weight: 700;
      }

      .num {
        font-size: 19px;
        color: #434343;
        line-height: 22pt;
      }

      .mail {
        display: block;
        padding-top: 10px;
        color: #434343;
        font-size: 19px;
        text-decoration: underline;
      }
    }
  }

  h4 {
    text-align: center;

    @media (min-width: 750px) {
      text-align: left;
    }
  }
}

.all_rest {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: translateY(-50%);
  display: none;

  @media (min-width: 750px) {
    display: block;
  }
}
