// lang vars
case process.env.NODE_ENV
  when 'ru'
    - var header = 'О ресторане'
    - var text = 'Изысканность и гармоничная утонченность – слова, как нельзя лучше подходящие для описания ресторана «Kiku Matsuri». Современный дизайн и сдержанный японский минимализм создают уникальность интерьера.'
    - var button = 'Посмотреть видео'
  when 'eng'
    - var header = 'About'
    - var text = 'Delicacy and harmonic sophistication – the best words to describe the restaurant «KikuMatsuri» modern design and lean Japanese minimalism create the unique interior.'
    - var button = 'Video'
  when 'kz'
    - var header = 'Мейрамхана туралы'
    - var text = '«Kiku Matsuri»мейрамханасының сипаттамасына ізеттілік, талғампаздық сөздері әбден лайық, заманауи дизайн мен жапон минимализмі интерьерге көрік береді'
    - var button = 'Бейне қарау'

section#about
  a(name="about")
  .container
    img(src="images/log.png").shape
    h3 #{header}
    p #{text}
    a(href="https://www.youtube.com/embed/woVUvj8WeLA?autoplay=1" class="fancybox fancybox.iframe").video_link #{button}
